<nav class="navigation__list">
    <div class="navigation__item">
        <a href="/home">
            <img src="svg/home.svg" alt="logo" class="navigation__logo">
            <p class="navigation__text">Home</p>
        </a>
    </div>
    <div class="navigation__item">
        <a href="/account">
            <img src="svg/users.svg" alt="logo" class="navigation__logo">
            <p class="navigation__text">Account</p>
        </a>
    </div>
    <div class="navigation__item">
        <a href="/add">
            <img src="svg/user-plus.svg" alt="logo" class="navigation__logo">
            <p class="navigation__text">Add Account</p>
        </a>
    </div>
    <div class="navigation__item">
        <a href="/open">
            <img src="svg/open.svg" alt="logo" class="navigation__logo">
            <p class="navigation__text">Open Locker</p>
        </a>
    </div>
</nav>