<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digilocker using Face Recognition</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <script>
        //const Chart= <- Chart%> ;
    </script>
    <div class="container">
        <section class="navigation">
            <h2 class="navigation__header">DigiLock</h2>
            <span class="line-break"></span>
            <nav class="navigation__list">
                <div class="navigation__item">
                    <a href="/home">
                        <img src="svg/home.svg" alt="logo" class="navigation__logo">
                        <p class="navigation__text">Home</p>
                    </a>
                </div>
                <div class="navigation__item">
                    <a href="/account">
                        <img src="svg/users.svg" alt="logo" class="navigation__logo">
                        <p class="navigation__text">Account</p>
                    </a>
                </div>
                <div class="navigation__item">
                    <a href="/add">
                        <img src="svg/user-plus.svg" alt="logo" class="navigation__logo">
                        <p class="navigation__text">Add Account</p>
                    </a>
                </div>
                <div class="navigation__item">
                    <a href="/open">
                        <img src="svg/open.svg" alt="logo" class="navigation__logo">
                        <p class="navigation__text">Open Locker</p>
                    </a>
                </div>
            </nav>
        </section>
        <section class="left">
            <section class="main">
                <div class="main__item">
                    <div class="main__title">Welcome back, User</div>
                    <span class="line-break"></span>
                    <div class="main__content">
                        <h3 class="content__title">Statistics</h3>
                        <div class="content__chart"><canvas id="myChart"></canvas></div>
                    </div>
                </div>
                <div class="main__data">
                    <div class="data__item">
                        <div>
                            <img src="svg/info-large-outline.svg" alt="logo" class="data__logo">
                            <!-- <svg class="data__logo">
                        <use xlink:href="svg/info-large-outline.svg"></use>
                    </svg> -->
                            <span class="data__heading">Details</span>
                        </div>
                        <img src=" svg/edit.svg" alt="edit logo" class="data__logo data__edit">
                    </div>
                    <div class=" data__item line-break" style="background-color: white;"></div>

                    <div class="data__item">
                        <img src="img/ashish_pal.jpg" alt="banker image" class="data__img">
                    </div>

                    <div class="data__item">

                        <!-- <img src="svg/account.svg" alt="logo" class="data__logo"> -->
                        <span class="data__name">Ashish Pal</span>
                    </div>

                    <div class="data__item">
                        <div class="data__title">Lead Banker | Admin</div>
                    </div>
                    <div class="data__item">
                        <span class="data__text">Active</span>
                        <img src="svg/checkbox-circle.svg" alt="logo" class="data__logo">
                    </div>
                    <div class=" data__item line-break" style="background-color: white;"></div>
                    <div class="data__contact">
                        <div class="contact__item">
                            <img src="svg/email.svg" alt="email" class="data__logo">
                            <span class="data__text">ashishpal@mail.com</span>
                        </div>
                        <div class="contact__item">
                            <img src="svg/phone.svg" alt="email" class="data__logo">
                            <span class="data__text">+91 455 555 7554</span>
                        </div>
                    </div>
                </div>
                <div class="main__recent">
                    <div class="recent__item recent__heading">
                        Recent
                    </div>
                    <div class="recent__item line-break" style="background-color: white;"></div>
                    <div class="recent__list">
                        <% for (let recoLog of recoLogs){ %>
                        <div class="list__item">
                            <img src="<%= recoLog.p_img %>" alt="" srcset="" class="list__image">
                            <div class="list__heading">LockerID: <%= recoLog.lockerid %></div>
                            <div class="list__text">Primary User: <%= recoLog.p_user %></div>
                        </div>
                        <% } %>
                        <% if(!recoLogs.length) {%>
                        <div class="list__text">No logs found</div>
                        <% } %>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <script src="js/chart.min.js"></script>
    <script src="js/home.js"></script>
    <!-- <script src="js/home.js"> -->
</body>

</html>